<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itou86.bookmarket.dao.BookMapper">

    <select id="selectAllBook" resultType="Books">
        select id,
               book_name,
               book_counts,
               book_detail
        from books
    </select>

    <select id="selectBookById" parameterType="int" resultType="Books">
        select id,
               book_name,
               book_counts,
               book_detail
        from books
        where id = #{id}
    </select>

    <select id="selectBookByBookName" parameterType="String" resultType="Books">
        select id,
               book_name,
               book_counts,
               book_detail
        from books
        where book_name like concat('%', #{bookName}, '%')
    </select>

    <insert id="addBook" parameterType="Books">
        insert into books (book_name, book_counts, book_detail)
        values (#{bookName}, #{bookCounts}, #{bookDetail})
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete
        from books
        where id = #{id}
    </delete>

    <update id="updateBook" parameterType="Books">
        update
            books
        set book_name   = #{bookName},
            book_counts = #{bookCounts},
            book_detail = #{bookDetail}
        where id = #{id}
    </update>

</mapper>
