<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itou86.bookmarket.dao.BookMapper">

    <select id="selectBookById" parameterType="int" resultType="Books">
        select book_id,
               book_name,
               book_counts,
               book_detail
        from books
        where book_id = #{bookId}
    </select>

    <select id="selectAllBook" resultType="Books">
        select book_id,
               book_name,
               book_counts,
               book_detail
        from books
    </select>

    <insert id="addBook" parameterType="Books">
        insert into books (book_name, book_counts, book_detail)
        values (#{book_name}, #{book_counts}, {book_detail})
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete
        from books
        where book_id = #{bookId}
    </delete>

    <update id="updateBook" parameterType="Books">
        update
            books
        set book_name   = #{bookName},
            book_counts = #{bookCounts},
            book_detail = #{bookDetail}
        where book_id = #{bookId}
    </update>

</mapper>
